<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    1:扫描service下面的包-->
    <context:component-scan base-package="com.ssm.service"/>
<!--    2:将所有业务类注入到spring，可以通过注解或者配置文件实现
spring-dao spring-service apllicationContext三个配置文件必须在同一个路径下，右上角的记得关联一下，
也可以在apllicationContext中impot另外两个一下-->
    <bean name="BookServiceImpl" class="com.ssm.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>
<!--    3：声明事务配置，这样就会自动提交事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>